<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Payment</title>
</head>
<body>
<div class="container p-5 text-center">
    <div class="row justify-content-center">
        <div class="payment p-5 border mt-5">
            <form action='/charge' method='POST' id='checkout-form'>
                <input type='hidden' th:value='${amount}' name='amount'/>
                <div class="h3 my-3">Payment for adding funds</div>
                <div class="h3 my-3">Price: <span th:text='${amount/100}'/> PLN</div>
                <div class="h3 mt-4 mb-3">Choose your payment method:</div>
                <script
                        src='https://checkout.stripe.com/checkout.js'
                        class='stripe-button'
                        th:attr='data-key=${stripePublicKey},
                data-amount=${amount},
                data-currency=${currency}'
                        data-name='Trener Personalny'
                        data-description='Płatność'
                        data-locale='auto'
                        data-zip-code='false'>
                </script>
            </form>
        </div>

    </div>
</div>
</body>
</html>